<%= form_with(model: @transaction, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :buyer_id %>

    <%= f.collection_select :buyer_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_id %>

    <%= f.text_field :item_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :status_id, value: @status.id %>

  <%= f.submit "Create transaction", class: "btn btn-block btn-outline-secondary" %>
<% end %>
