<!-- Form item start -->
<%= form_with(model: @item, local: true) do |f| %>
<!-- Form item end -->

  <!-- Label and input for item_description start -->
  <div class="form-group">
    <%= f.label :item_description %>

    <!-- Input for item_description start -->
    <%= f.text_field :item_description, class: "form-control" %>
    <!-- Input for item_description end -->
  </div>
  <!-- Label and input for item_description end -->

  <!-- Label and input for item_status_id start -->
  <!-- Input for item_status_id start -->
  <%= f.hidden_field :item_status_id, value: @status.id %>
  <!-- Input for item_status_id end -->
  <!-- Label and input for item_status_id end -->

  <!-- Label and input for item_title start -->
  <div class="form-group">
    <%= f.label :item_title %>

    <!-- Input for item_title start -->
    <%= f.text_field :item_title, class: "form-control" %>
    <!-- Input for item_title end -->
  </div>
  <!-- Label and input for item_title end -->

  <!-- Label and input for item_category_id start -->
  <div class="form-group">
    <%= f.label :item_category_id %>

    <!-- Input for item_category_id start -->
    <%= f.collection_select :item_category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for item_category_id end -->
  </div>
  <!-- Label and input for item_category_id end -->

  <!-- Label and input for item_location start -->
  <div class="form-group">
    <%= f.label :item_location %>

    <!-- Input for item_location start -->
    <%= f.text_field :item_location, class: "form-control" %>
    <!-- Input for item_location end -->
  </div>
  <!-- Label and input for item_location end -->

  <!-- Label and input for owner_id start -->
  <div class="form-group">
    <%= f.label :owner_id %>

    <!-- Input for owner_id start -->
    <%= f.text_field :owner_id, class: "form-control" %>
    <!-- Input for owner_id end -->
  </div>
  <!-- Label and input for owner_id end -->

  <!-- Label and input for price start -->
  <div class="form-group">
    <%= f.label :price %>

    <!-- Input for price start -->
    <%= f.text_field :price, class: "form-control" %>
    <!-- Input for price end -->
  </div>
  <!-- Label and input for price end -->

  <%= f.submit "Create item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
