<!-- Form transaction start -->
<%= form_with(model: @transaction, local: true) do |f| %>
<!-- Form transaction end -->

  <!-- Label and input for buyer_id start -->
  <!-- Input for buyer_id start -->
  <%= f.hidden_field :buyer_id, value: @user.id %>
  <!-- Input for buyer_id end -->
  <!-- Label and input for buyer_id end -->

  <!-- Label and input for item_id start -->
  <div class="form-group">
    <%= f.label :item_id %>

    <!-- Input for item_id start -->
    <%= f.text_field :item_id, class: "form-control" %>
    <!-- Input for item_id end -->
  </div>
  <!-- Label and input for item_id end -->

  <!-- Label and input for status_id start -->
  <div class="form-group">
    <%= f.label :status_id %>

    <!-- Input for status_id start -->
    <%= f.text_field :status_id, class: "form-control" %>
    <!-- Input for status_id end -->
  </div>
  <!-- Label and input for status_id end -->

  <%= f.submit "Create transaction", class: "btn btn-block btn-outline-secondary" %>
<% end %>
