<div class="card mb-3">
  <h2 class="card-header h4">
    Item #<%= item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Item description</dt>
      <dd><%= item.item_description %></dd>

      <dt>Item status</dt>
      <dd>
        <% if @item.item_status.present? %>
          <%= link_to item.item_status, item.item_status %>
        <% end %>
      </dd>

      <dt>Item title</dt>
      <dd><%= item.item_title %></dd>

      <dt>Item category</dt>
      <dd>
        <% if @item.item_category.present? %>
          <%= link_to item.item_category, item.item_category %>
        <% end %>
      </dd>

      <dt>Item location</dt>
      <dd>
        <div>
          <%= render partial: "items/one_photo_map" %>
        </div>
      </dd>

      <dt>Owner</dt>
      <dd>
        <% if @item.owner.present? %>
          <%= link_to item.owner, item.owner %>
        <% end %>
      </dd>

      <dt>Price</dt>
      <dd><%= item.price %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @item.owner %>
          <%= link_to edit_item_url(item), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @item.owner %>
          <%= link_to item, method: :delete, data: { confirm: "Do you really want to delete this item?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(item.updated_at) %> ago
  </div>
</div>
