<% was_validated = item.errors.any? %>

<%= form_with(model: item, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% item_description_class = "form-control" %>
    <% item_description_was_invalid = item.errors.include?(:item_description) %>

    <% if was_validated %>
      <% if item_description_was_invalid %>
        <% item_description_class << " is-invalid" %>
      <% else %>
        <% item_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_description %>
    <%= f.text_field :item_description, class: item_description_class, placeholder: "Enter item description" %>
    <% if item_description_was_invalid %>
      <% item.errors.full_messages_for(:item_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_status_class = "form-control" %>
    <% item_status_was_invalid = item.errors.include?(:item_status) %>

    <% if was_validated %>
      <% if item_status_was_invalid %>
        <% item_status_class << " is-invalid" %>
      <% else %>
        <% item_status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_status_id %>
    <%= f.collection_select :item_status_id, Status.all, :id, :to_s, {}, class: "form-control" %>
    <% if item_status_was_invalid %>
      <% item.errors.full_messages_for(:item_status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_title_class = "form-control" %>
    <% item_title_was_invalid = item.errors.include?(:item_title) %>

    <% if was_validated %>
      <% if item_title_was_invalid %>
        <% item_title_class << " is-invalid" %>
      <% else %>
        <% item_title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_title %>
    <%= f.text_field :item_title, class: item_title_class, placeholder: "Enter item title" %>
    <% if item_title_was_invalid %>
      <% item.errors.full_messages_for(:item_title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_category_class = "form-control" %>
    <% item_category_was_invalid = item.errors.include?(:item_category) %>

    <% if was_validated %>
      <% if item_category_was_invalid %>
        <% item_category_class << " is-invalid" %>
      <% else %>
        <% item_category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_category_id %>
    <%= f.collection_select :item_category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if item_category_was_invalid %>
      <% item.errors.full_messages_for(:item_category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_location_class = "form-control" %>
    <% item_location_was_invalid = item.errors.include?(:item_location) %>

    <% if was_validated %>
      <% if item_location_was_invalid %>
        <% item_location_class << " is-invalid" %>
      <% else %>
        <% item_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_location %>
    <%= f.text_field :item_location, class: item_location_class, placeholder: "Enter item location" %>
    <% if item_location_was_invalid %>
      <% item.errors.full_messages_for(:item_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :owner_id, value: current_user.id %>
  <div class="form-group">
    <% price_class = "form-control" %>
    <% price_was_invalid = item.errors.include?(:price) %>

    <% if was_validated %>
      <% if price_was_invalid %>
        <% price_class << " is-invalid" %>
      <% else %>
        <% price_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :price %>
    <%= f.text_field :price, class: price_class, placeholder: "Enter price" %>
    <% if price_was_invalid %>
      <% item.errors.full_messages_for(:price).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
